body {
    color: black;
    background-color:#e4e4c9;
    font-family: "Times New Roman", Times, Serif;
    padding: 1rem;
    max-width: 100%;
}
.popup {
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    width: 300px;
    margin: auto;
}
