body {
    color: black;
    background-color:#e4e4c9;
    font-family: "Times New Roman", Times, Serif;
    padding: 1rem;
    max-width: 100%;

}

.calendar {
    color: black;
    border:20px solid #ffffff;
    border-radius: 10px;
    background-color: #f1e6d8;
    font-family: "Times New Roman", Times, Serif;
    padding: 1rem;
    max-width: 100%;
}

header {
  text-align: center;
  padding: 1rem 1rem 1 1rem; 
  max-width: 100%;
}

.weekdays {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(7, 1fr); 
  grid-auto-flow: column;
  list-style: none;
  width: 100%;
  padding: 0;
  border:1px solid black;
}

.weekdays li {
  background-color: #f2cdb2; 
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #333; 
}

.times {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  border: 1px solid black;
  border-radius: 4px;      
  overflow: hidden;       
}

.time {
  font-family: "Times New Roman", Times, Serif;
  font-size: 15px;
  background-color: #f1e2bb; 
  padding: 12px;            
  text-align: left;       
}

.time:not(:last-child) {
  border-bottom: 1px solid black;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #52bbeb;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    display: none; 
}

.flex-task-column
{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: 20px; 
}

.task {
    background-color: #f1e2bb;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    font-family: "Times New Roman", Times, Serif;
}


